body {
  overflow: hidden;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#explosion-sound {
}

#controls-container {
  display: none;
  position: absolute;
  left: 40%;
  top: 15%;
  width: 266px;
  height: 310px;
  border-radius: 10px;
  background-color: #fff;
}

#header-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: rgb(209, 187, 187);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#power {
  width: 70px;
  height: 30px;
  line-height: 2;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
  background-color: green;
  color: #fff;
}

#increasePower,
#decreasePower,
#increaseAngle,
#decreaseAngle {
  width: 40px;
  height: 30px;
  margin-top: 8px;
  border-radius: 3px;
  margin-right: 2px;
  cursor: pointer;
  background-color: rgb(97, 139, 167);
}

#angle {
  width: 70px;
  height: 30px;
  line-height: 2;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
  color: #000;
  background-color: #fff;
}

#number-pad {
  padding: 2px;
}

.number {
  width: 80px;
  height: 40px;
  margin: 2px;
  border-radius: 3px;
  background-color: rgb(97, 139, 167);
  color: #fff;
}

#fire {
  width: 99%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  background-color: rgb(179, 49, 39);
  font-weight: bold;
}

#players-container {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 40%;
  width: 260px;
  padding: 30px;
  border-radius: 20px;
  border: double black;
  background-color: rgb(209, 187, 187);
}

.player-name {
  width: 150px;
  text-align: center;
  background-color: rgb(209, 187, 187);
}

#start {
  width: 100px;
  padding: 5px;
  margin-top: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(179, 49, 39);
  color: #fff;
}

#flames {
  position: absolute;
  display: none;
  left: 960px;
  top: 328px;
  z-index: 100;
}

label {
  margin: 0.6em 0.6em 0 0;
  width: 66px;
  padding: 0.2em;
}

input,
select,
textarea {
  margin: 0.5em 0 0 0;
  width: 60px;
}

input,
fieldset,
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4em;
}
